.container{
  display: grid;
  height: 97vh;
  grid-template: 0.5fr 8.5fr 0.5fr / 0.5fr 8.5fr 0.5fr;
}

.login{
  display: grid;
  background: #0C2322;
  grid-row: 2;
  grid-column: 2;

  grid-template: 79fr 345fr 79fr / 413fr 123fr 413fr;
}

.logo{
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure{
  margin: 0;
}

.logo img{
  width: 100%;
}

.linea{
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linea canvas{
  height: 100%;
  width: 0;
  border:1px solid #2A7775;
}

.form{
  grid-row: 2;
  grid-column: 3;
  display: flex;
  justify-content: center;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input{
  width: 95%;
  height: 10%;
  border-radius: 4px;
}

.text{
font-size: 23px;
}

.button{
  background-color: #2A7775;
  color: #E4E4E4;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
}
